<%= form_with(model: [@post, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div class="not-prose border-double border-4 border-red-500 text-red-600 p-4">
      <p class="mb-4 font-bold"><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</p>

      <ul class="list-disc pl-8">
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
