<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :screen_name, style: "display: block" %>
    <%= form.text_field :screen_name %>
  </div>

  <div>
    <%= form.label :last_seen_at, style: "display: block" %>
    <%= form.datetime_field :last_seen_at %>
  </div>

  <div>
    <%= form.label :posts_count, style: "display: block" %>
    <%= form.number_field :posts_count %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
