<h1>
  <%= @user.screen_name %>
</h1>

<% if @user == Current.user %>
  <div>
    <%= link_to "Edit profile", edit_user_path %> |
    <%= button_to "Delete profile", @user, method: :delete %>
  </div>
<% end %>

<hr />

<details open>
  <summary>
    <strong>Posts:</strong>
    <%= @user.posts.size %>
  </summary>
  <ul class="list-none space-y-4">
    <% @user.posts.order(created_at: :desc).each do |post| %>
      <li><%= render post %></li>
    <% end %>
  </ul>
</details>

<details>
  <summary>
    <strong>Comments:</strong>
    <%= @user.comments.size %>
  </summary>
  <ul class="list-none space-y-4">
    <% @user.comments.order(created_at: :desc).each do |comment| %>
      <li><%= render comment %></li>
    <% end %>
  </ul>
</details>

<% if @user == Current.user %>
  <details>
    <summary>
      <strong>Sessions:</strong>
      <%= @user.sessions.size %>
    </summary>
    <ul class="list-none space-y-4">
      <%= render @user.sessions.order(created_at: :desc) %>
    </ul>
  </details>
<% end %>
