<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div class="not-prose border-double border-4 border-red-500 text-red-600 p-4">
      <p class="mb-4 font-bold"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</p>

      <ul class="list-disc pl-8">
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "w-full" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, rows: 5, class: "w-full" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
