<div>
  <% if controller_name == "posts" && action_name == "show" %>
    <%= post.title %>
  <% else %>
    <%= link_to post.title, post %>
  <% end %>
</div>
<small class="text-sm font-normal inline-flex w-full items-baseline justify-between">
  <span>
    <% if controller_name == "posts" %>
      by <% if post.user == Current.user %>
        you
      <% else %>
    <%= link_to post.user.screen_name, user_path(post.user) %>
      <% end %>
      <span>&middot;</span>
    <% end %>
    <%= time_ago_in_words(post.created_at) %> ago
    <span>&middot;</span>
    <%= pluralize post.comments_count, "comment" %>
  </span>
  <span>
    <% if post.user == Current.user %>
      <%= link_to "Edit", edit_post_path(post) %> |
      <%= button_to "Delete", post, method: :delete %>
    <% end %>
  </span>
</small>
