<h1><%= render @post %></h1>

<p>
  <%= @post.description %>
</p>

<% if @post.user == Current.user %>
  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= button_to "Delete this post", @post, method: :delete %>
  </div>
<% end %>

<hr />

<div class="space-y-4">
  <%= render @post.comments.order(created_at: :desc) %>
</div>
