<!DOCTYPE html>
<html>
  <head>
    <title>SQLiteOnRails — RubyConf Taiwan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if alert %>
      <div role="status" class="absolute top-4 right-4 border-double border-red-500 border-4 text-red-700 p-4 mb-4"><%= alert %></div>
    <% elsif notice %>
      <div role="status" class="absolute top-4 right-4 border-double border-green-500 border-4 text-green-700 p-4 mb-4"><%= notice %></div>
    <% end %>

    <header class="text-lg max-w-4xl mx-auto p-8 flex justify-between items-center">
      <h2><%= link_to "Lorem News", root_path %><h2>

      <% if Current.user %>
        <span class="inline-flex items-center">
          <svg class="-ml-0.5 mr-1.5 h-2 w-2 text-green-400" fill="currentColor" viewBox="0 0 8 8">
            <circle cx="4" cy="4" r="3" />
          </svg>
          <span><%= link_to Current.user.screen_name_in_database, Current.user %></span>
        </span> |
        <%= button_to "Sign out", Current.session, method: :delete %>
      <% else %>
        <%= link_to "Sign in", sign_in_path %> |
        <%= link_to "Sign up", sign_up_path %>
      <% end %>
    </header>

    <main><%= yield %></main>
  </body>
</html>
