<!DOCTYPE html>
<html>
  <head>
    <title>Rubyconftw</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if alert %>
      <div role="status" class="absolute top-4 right-4 border-double border-red-500 border-4 text-red-700 p-4 mb-4"><%= alert %></div>
    <% elsif notice %>
      <div role="status" class="absolute top-4 right-4 border-double border-green-500 border-4 text-green-700 p-4 mb-4"><%= notice %></div>
    <% end %>

    <main><%= yield %></main>
  </body>
</html>
